:root {
    --main-color: #000000   ;
    --sub-color: #5cc8ff;
    --text-color: #55FF55;
    font-family: "JetBrains Mono", sans-serif;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#typewriter {
    position: absolute;
    color: var(--text-color);
    font-family: "JetBrains Mono", monospace;
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: fit-content;
    animation: blink-caret .7s step-end infinite;
    margin: 0 auto
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}